
.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.content{
  text-align: center;
}

ul{
  list-style-type: none;
  padding:0;
  margin:0;
}
