
.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.phoneImg{
  @media only screen and (min-width: 768px) {width: : 0%;}

}
