.imgWrap {
  position: relative;
  height: auto;
  width: auto;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(192, 192, 192, 0.72);
  color: #000;


  visibility: hidden;
  opacity: 0;


  -webkit-transition: visibility opacity .003s;

}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
