.imgWrap {
  position: relative;
  height: auto;
  width: auto;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(192, 192, 192, 0.72);
  color: #000;


  visibility: hidden;
  opacity: 0;


  -webkit-transition: visibility opacity .003s;

}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
.yellowBack{
  background-color: #e6b800;
}

h1.title { color: #CEF0D4;
  font-family: 'Rouge Script', cursive;
  font-size: 130px; font-weight: normal;
   line-height: 48px; margin: 0 0 50px;
   text-align: center;
   text-shadow: 1px 1px 2px #082b34; }
h2.custom {
  color: #111; font-family: 'Open Sans Condensed', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  }
