.center{
	padding: 0% 13% 0% 13%;

}
.sizeText{
	font-size: 1.3em;
}

.spaceBetween{
	padding-top: 5%;
	padding-bottom: 5%;
}
#title{

margin-top: 13%;
padding-top: 1%;
padding-bottom: 5%;
}
a.yellow{
color:lightblue;
}
body{
	text-align:center;
}
ul{
	display:inline;
	list-style-type: none;
}

li.classes{
	font-size: 1.4em;
}
li.classInfo{
	font-style: italic;
}
h1{
	text-shadow;
	color:orange;
}
.concreteBackground{
	background-image: url("Images/brickwall_@2X.png");
}
#resume{
	font-size: 2.9em;
	text-decoration: underline;
}
h2{
	font-size: 1em;
}
h3{
	text-decoration: underline;
}
h4{
	text-decoration: underline;
}
li{
	font-size: 1.2em;
}
.seashellBack{
	color:white;
	background-image: url("Images/mochaGrunge_@2X.png");
}
ul.boldNav{
	font-weight: bold;
	font-style: oblique;
	font-size: 1.2em;
}
.lightBlueBack{
	background-color:#99CCCC;
}
p.intro{
	opacity: .8;
	padding-top: 20%;
	padding-bottom: 20%;
}
p{
	font-size: 1.1em;
}
